.calender ul{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
}
.calender li{
    list-style: none;
    font-size: 4em;
    background-color: lightslategray;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.other_month{
    color: lightsteelblue;
}