.container{
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
}
.food{
    border:3px solid lightskyblue;
    border-radius: 30px;
   margin: 10px;
    width: 350px;
}
.food img{
    width: 100%;
}
